<div class="{{ include.section-class }}">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img src="./assets/img/blog.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="row w-100">
                        <div class="col"> <img src="./assets/img/user.svg" alt="user"> Tom Kennedy </div>
                        <div class="col text-end"><img src="./assets/img/calendar.svg" alt="calendar"> Feb 23, 2024</div>
                    </div>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
                  <p class="link-url text-center w-100s"><a href="#" class="link">Read More ></a></p>
                </div>
               
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="./assets//img/blog.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="row w-100">
                        <div class="col"> <img src="./assets/img/user.svg" alt="user"> Tom Kennedy </div>
                        <div class="col text-end"><img src="./assets/img/calendar.svg" alt="calendar"> Feb 23, 2024</div>
                    </div>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
                  <p class="link-url text-center w-100s"><a href="#" class="link">Read More ></a></p>
                </div>
               
              </div>
        </div>
        <div class="col-sm-4">
        <div class="card">
            <img src="./assets//img/blog.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="row w-100">
                    <div class="col"> <img src="./assets/img/user.svg" alt="user"> Tom Kennedy </div>
                    <div class="col text-end"><img src="./assets/img/calendar.svg" alt="calendar"> Feb 23, 2024</div>
                </div>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
              <p class="link-url text-center w-100s"><a href="#" class="link">Read More ></a></p>
            </div>
           
          </div>
          </div>

      </div>
   
    


    
</div>