

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
		<div class="container-fluid p-0"> 
		  <div class="row gy-4">  
			<div class="col-lg-6 contact-left">
				<header class="section-header">
					<h2>Contact us</h2>
					<p>Have an inquiry? We’ll be happy to assist you</p>
				  </header>
  
				  <div class="row gy-4">
					<div class="col">
					  <div class="info-box">
						<i class="bi bi-telephone"></i>
						<!-- <h3>Call Us</h3> -->
						<p>{{site.phone}}</p>
					  </div>
					</div>
				</div>
				<div class="row gy-4">
					<div class="col">
					  <div class="info-box">
						<i class="bi bi-envelope"></i>
						<!-- <h3>Email Us</h3> -->
						<p>{{site.email}}</p>
					  </div>
					</div>
				</div>
			  <div class="row gy-4">
				<div class="col">
				  <div class="info-box">
					<i class="bi bi-geo-alt"></i>
					<!-- <h3>Address</h3> -->
					<p>{{site.address}}</p>
				  </div>
				</div>
			</div>
			<div class="row gy-4">
				<div class="col">
				  <div class="info-box">
					<i class="bi bi-clock"></i>
					<!-- <h3>Open Hours</h3> -->
					<p>{{site.officetime}}</p>
				  </div>
				</div>
			</div>
			  </div>  
			
  
			<div class="col-lg-6 contact-right">
				<header>Fill in your details </header>
			  <form action="https://formspree.io/f/mdojazzo" method="post" class="php-email-form">
				<div class="row gy-4 mb-3">  
				  <div class="col">
					<label for="name" class="form-label">Name</label>
					<input type="text" name="name" id="name" class="form-control" placeholder="Your Name" required>
				  </div>
				</div>
				<div class="row gy-4 mb-3">
  
				  <div class="col ">
					<label for="email" class="form-label">Email</label>
					<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
				  </div>
				  </div>
				  <div class="row gy-4 mb-3">
				  <div class="col-md-12">
					
					<label for="email" class="form-label">Phone</label>
					<input type="tel" id="phone" class="form-control" name="phone" placeholder="Phone Number" required>
				  </div>
				  </div>
				  <div class="row gy-4 mb-3">
				  <div class="col-md-12">
					
					
					<label for="email" class="form-label">message</label>
					<textarea class="form-control" name="message" rows="3" id="message" placeholder="Message" required></textarea>
				  </div>
				  </div>

				  <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
				  <input type="hidden" name="_next" value="/thanks" />
				  <div class="row gy-4">
  
				  <div class="col-md-12 text-center">
					<div class="loading">Loading</div>
					<div class="error-message"></div>
					<div class="sent-message">Your message has been sent. Thank you!</div>
  
					<button type="submit" class="btn-outline-primary w-100">Send Message</button>
				  </div>
				  </div>
  
			  </form>
  
			</div>
  
		  </div>
  
		</div>
  
	  </section><!-- End Contact Section -->