<section class="section justify-content-end justify-content-lg-center  tools-section">
    <div class="container position-relative">
        <div class="row">
            <div class="col col-md-10 heading text-center mx-auto">
                <h2>{{ include.heading }}</h2>
                <p class="text-center">{{ include.description }}</p>
                {% if include.heading-cta %}
                    {% if include.headingCTA-type contains "button" %}
                        <a class="btn btn-lg btn-outline-primary contact-us-demo-form paragraph-4--medium mt-4" href="#Contact"
                            role="button">
                            Read More
                        </a>
                    {% else %}
                        <a href="#" class="link">Read More ></a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ul>
                    <li>
                        <img src="/assets/img/jekins.svg" alt="se" class="img-fluid">
                    </li>
                    <li>
                        <img src="/assets/img/java.svg" alt="se" class="img-fluid">
                    </li>
                    <li>
                        <img src="/assets/img/selenn.svg" alt="se" class="img-fluid">
                    </li>
                    <li>
                        <img src="/assets/img/paython.svg" alt="se" class="img-fluid">
                    </li>
                    <li>
                        <img src="/assets/img/se-gray.svg" alt="se" class="img-fluid">
                    </li>
                    <li>
                        <img src="/assets/img/cy.svg" alt="se" class="img-fluid">
                    </li>
                    <li>
                        <img src="/assets/img/se.svg" alt="se" class="img-fluid">
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>