
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-2 col-md-2 footer-info">
            <a class="logo d-flex align-items-center" href="{% if page.layout == 'default'  %}/{% endif %}{{ item.url }}/#hero">
                {% if site.logo %}
                <img src="{{site.logo}}" class="img-fluid" alt="Calnetic"> 
                {% endif %} 
                
            </a>             
            <!-- <p>{{site.footer.about}}</p> -->

           
          </div>

          <div class="col-lg-10 col-10 footer-links">
           
            <ul>
                {% for footer in site.footer.leftcol %}
                 <li><a href="{{footer.link}}">{{footer.text}}</a></li>
                {% endfor %}
            </ul>
          </div>
          
          <!-- <div class="col-lg-2 col-6 footer-links">
            <h4>{{site.footer.rightcol.heading}}</h4>
            <p>{{site.footer.rightcol.text}}</p>
            <a href="{{site.footer.rightcol.btnUrl}}"  class="btn btn-primary" >{{site.footer.rightcol.btnText}} </a>
          </div> -->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
           <div class="social-links mt-1">   
                        {% for socials in site.social.items %}
                         <a href="{{socials.link}}"><i class="{{socials.icon}}"></i></a>
                        {% endfor %}

            </div>
        </div>
        <div class="col">
          <div class="copyright">
            &copy; Copyright <strong><span>{{site.footer.copyright}}</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
           
            Designed and Develop by <a href="https://github.com/webuimaker/">Webuimaker</a>
          </div>
        </div>
      </div>
     
    </div>
  </footer><!-- End Footer -->