

    <!-- ======= Gallery Section ======= -->
   <section id="achievement" class="achievement bg-gray">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Achievement</h2>
        <p>Successful Performance</p>
      </header>
      
      
		  <div class="row gy-4">
  
			<div class="col-lg-6">
                    <img src="./assets/img/future-app.jpg" alt="future" class="img-fluid">
            </div>
  
			<div class="col-lg-6">
                    <img src="./assets/img/future-app2.jpg" alt="future" class="img-fluid">
            </div>
        </div>
      
      
      <!-- End Gallery Section -->
    </div>
</section>