{% include sections/hero-gradient.html 
  h1="We transform business <br>ideas into <span>products</span>."
  h2="We have expertise in <span>IoT & EdTech</span>"
  h2-class="bordered"
  span="You are an individual with an idea in mind or a big company with a PRD to develop, Our software development and engineering expertise can help you deliver it efficiently"
  cta=true
  cta-custom-demo-text = "Talk With Us"
  imgkit-url="/assets/img/hero-landing.svg"
  backup="/assets/images/solutions/legal-services/legal-solutions-hero-image-2x.png"
  alt-text="Save the paperwork for the court, go paperless with Fyle!"
  hero-class="gradient-hero-with-logos legal-services-hero blue-tick-list"
  img-width=590
  show-background-triangle=true
  show-background-ovel=true  
  container-class="hero-container"  
  heading="Fyle empowers you to:"
  section1="increase-finance-productivity"
  heading1="50+ Successful Projects"
  section2="automate-compliance"
  heading2="AUTOMATE COMPLIANCE"
  section3="stay-in-control"
  heading3="STAY IN CONTROL"
  show-background-triangle=true
%}

