/*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
.contact {
  background: #f8f8f8;

  .contact-left {
    padding: 80px 120px 80px 80px;
    position: relative;
    background-color: #2E3E97;

    &::after {
      content: "";
      background: url(./assets/img/footer-shapes.svg) 100% 100% no-repeat;
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0;
      bottom: 0%;
      z-index: 0;
    }

    header {
      h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 130%;
        /* or 44px */
        display: flex;
        align-items: center;
        color: $white;

      }

      p {

        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 38px;
        /* or 158% */
        display: flex;
        align-items: center;
        color: $white;

        opacity: 0.7;

      }
    }

    .info-box {
      color: $white;
      padding: 30px;
      display: flex;
      gap: 10px;
    }

    .info-box i {
      font-size: 24px;
      line-height: 0;
      color: $white;
    }

    .info-box h3 {
      font-size: 20px;
      color: $white;
      font-weight: 700;
      margin: 20px 0 10px 0;
    }

    .info-box p {
      padding: 0;
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0;
    }

  }

  .contact-right {
    padding: 80px;

    header {
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 38px;
      /* identical to box height, or 158% */
      display: flex;
      align-items: center;
      color: #222;
    }
    
    

  }

  label {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #222222;

    opacity: 0.7;

  }

  &.hero-contact {
    background: $white;
    border-radius: 6px;
    .contact-right{
      width: 100%;
      padding: 15px;
      header{        
      background-color: #2E3E97;
      color: #fff;
      margin-top: -30px;
      position: relative;
      display: block;
      text-align: center;

      &::before{
        box-sizing: border-box;
        position: absolute;
        width: 99px;
        height: 38px;
        right: -50px;
        top: 0px;
        content: "";
        z-index: 1;
        background: url(./assets/img/left-shape-contact.svg) no-repeat;
    }
    
    &::after{
      box-sizing: border-box;
      position: absolute;
      width: 99px;
      height: 38px;
      left: -5px;
      top: 0px;
      content: "";
      z-index: 1;
      background: url(./assets/img/left-shape-contact.svg) no-repeat;
    }
    
    }
    .php-email-form{
      padding-top: 0px;
    }
    p{
      text-align: center;
    }
    }
  }

}

.contact .php-email-form {
  padding-top: 30px;
  height: 100%;

  .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }

  .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }

  .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
  }

  .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }

  input,
  textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
    padding: 10px 15px;
    border: 0px;
    background: transparent;
    border-bottom: 2px solid #E0E0E0;

    &:focus {
      border-color: #4154f1;
    }
  }

  //   button[type=submit] {
  //     background: #4154f1;
  //     border: 0;
  //     padding: 10px 30px;
  //     color: #fff;
  //     transition: 0.4s;
  //     border-radius: 4px;
  //     &:hover {
  //         background: #5969f3;
  //       }
  //   }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}