
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
  .header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;    
    &.header-scrolled {
      background: #fff;
      padding: 15px 0;
      box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    }
    .logo {
      line-height: 0;
      img {
        max-height: 40px;
        margin-right: 6px;
      }
      span {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1px;
        /* color: #fff; */
        color: #012970;
        font-family: "Nunito", sans-serif;
        margin-top: 3px;
      }
    }
  }  
  .header.fixed-top.header-scrolled .logo span {
    color: #012970;  
    }
.section-header {
    text-align: center;
    padding-bottom: 40px;
  }
  .section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
  }
  .section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
  }
  @media (max-width: 768px) {
    .section-header p {
      font-size: 28px;
      line-height: 32px;
    }
    .header{
      padding: 20px 10px;
    }
  }
