.section {
    position: relative;
    padding: 80px 0;

    &.bg-right-blue{
        background: url(./assets/img/bg-blue-right.svg) no-repeat;
        background-position: right center;
        overflow-x: hidden;
    }
    &.bg-left-blue{
        background: url(./assets/img/bg-blue-left.svg);
        background-position: left top;
        background-repeat: no-repeat;
    }
    &.blue-gradient{
        background: linear-gradient(75.08deg, #D7DEF6 7.83%, #FAFCFF 89.92%);
    }
    &.contact{
        padding: 0px;
    }
    &.red-blue-gradient{
        background: linear-gradient(342deg, rgba(255, 236, 242, 0.2) -9.02%, rgba(250, 216, 228, 0.2) 26.46%, rgba(189, 216, 255, 0.2) 72.7%);

        &.bg-left-blue{
            background: url(./assets/img/bg-blue-left.svg), linear-gradient(342deg, rgba(255, 236, 242, 0.2) -9.02%, rgba(250, 216, 228, 0.2) 26.46%, rgba(189, 216, 255, 0.2) 72.7%);;
        background-position: left top;
        background-repeat: no-repeat;
        }
    }

    &.list-no-box{
        ul.list-box{
            li{
                border: 0px;
                background: transparent;
                padding: 0px;
            }
        }
    }

    &.client-section{
        padding-top: 280px;
        .customer-logos-v2{
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            left: 0px;
            top: 80px;
        }
    }
    
    &.testimonials{
        &::after{
            content: "";
            background: url(./assets/img/double-blue.svg) 100% 100% no-repeat;
            position: absolute;
            width: 100%;
            height: 100%;
            right: 0;
            bottom: 7%;
            z-index: 0;
        }
        
        &::before{
            content: "";
            background: url(./assets/img/bg-light-blue.svg) 100% 100% no-repeat;
            position: absolute;
            width: 100px;
            height: 478px;
            left: 0;
            bottom: 17%;
            z-index: 0;
        }
   
        h2{
            font-size: 40px;
            line-height: 3.5rem;
        }

        .carousel-testimonials{
            .carousel-inner{
                .carousel-caption{
                    color: $dark;
                }
            }
        }
    }
  }

.heading{
    h2{
        font-weight: 500;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 0.377734px;
        color: $dark;
        margin-bottom: 20px;
    }
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        /* or 188% */
        letter-spacing: 0.377734px;
        color: #6F718F;


    }
   
}